.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  // position: fixed;
  h1 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin-right: 20px;
      li{
        font-weight: 300;
        font-size: 20px;
        &:first-child {
          margin-right: 107px;
        }
      }
    }
  }
}
