@import "partials/footer.scss";
@import "partials/main.scss";
@import "partials/navbar.scss";
@import "partials/clubsoda.scss";
@import "partials/home.scss";
@import "partials/dove.scss";
@import "partials/about.scss";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

main {
  padding-top: 120px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}
